body {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.container {
    width: 100%;
}

.virtualPage {
    min-height: 100vh;
    padding-top: 64px;
}

#navBar {
    height: 64px;
    width: 100%;
    position: fixed;
    text-align: center;
}

.nav {
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    padding: 10px;
    text-decoration: none;
}
