body {
    margin: 0;
    font-size: 18px;
}

.container {
    width: 100%;
}

.virtualPage {
    min-height: 100vh;
    padding-top: 64px;
}

#landing {
    background: url("../img/landing.JPG") center no-repeat;
}

#about {
    background: url("../img/about.JPG") center repeat;
}

#work {
    background: url("../img/work.JPG") center repeat;
}

#contact {
    background: url("../img/contact.JPG") center repeat;
}

.landingText {
    width: 300px;
    height: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 0;
}

#navBar {
    height: 64px;
    width: 100%;
    position: fixed;
    text-align: center;
    visibility: none;
    padding-top: 15px;
}

.nav {
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
}

.nav a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: gray;
}

.nav a:visited {
    text-decoration: none;
}

.text {
    padding: 15%;
}